@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;700&display=swap');

/* *********** Custom Properties********** */
:root {
    --first-color: #2890bd;
    --second-color: #d5ecf6;
    --body-color: #fdfdfd;
    --gray-light-color: #f9f9f9;
    --text-color: #474747;
    --actived-color: #000;
    --font: "Spartan", sans-serif;
    --header-height: 4rem;
}

/* *********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--text-color);
    background-color: var(--body-color);
}

h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.2;
}

h2 {
    margin: 0;
    font-size: 3rem;
    font-weight: lighter;
}

h3 {
    margin: 0;
    font-size: 2rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.6;
}

/* *********** Components ************ */

/* *********** Contact Form ************ */

.contact-form {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 800px;
}

.contact-form > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    font-family: var(--font);
}

.contact-form input {
    border: 0;
    padding-left: 0;
    border-bottom: thin solid #777;
}

.contact-form textarea {
    border: thin solid #777;
    border-radius: 3px;
    resize: none;
}

.contact-form input[type="submit"] {
    border: 2px solid var(--first-color);
    border-radius: 30px;
    margin-top: 0;
    cursor: pointer;
}

.contact-form *::placeholder {
    color: #777;
}

.contact-form-loader img {
    width: 4rem;
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    background-color: white;
}

.contact-form-response svg{
    margin-top: 1rem;
    width: 4rem;
    height: 4rem;
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 1024px) {

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .contact-form textarea,
    .contact-form-loader, 
    .contact-form .btn{
        grid-column: span 2;
    }

}

/* *********** Menu ************ */

.menu-btn{
    background-color: var(--first-color);
    border: 0;
    cursor: pointer;
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--first-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    transition: .2s;
    color: var(--first-color);
    background-color: white;
}

@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
        background-color: var(--body-color);
        list-style: none;
    }

    .menu a {
        padding: 0;
        margin: 0 1rem;
        font-size: 1.375rem;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
        color: var(--text-color);
        position: relative;      
    }

    .menu a::after {
        content: "";
        background-color: var(--first-color);
        position: absolute;
        left: 0;
        bottom: -.3rem;
        width: 100%;
        height: .2rem;

        opacity: 0;
        transform: scaleX(0);
        transition: all .3s ease-out;
    }

    .menu a.selected::after,
    .menu a:hover::after {
        transform: scaleX(1);
        opacity: 1;
    }

    .menu a:last-child{
        margin-right: 0;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--actived-color);
    }
}

/* *********** Modal ************ */

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content {
    position: relative;
}

.modal-img {
    height: 300px;
    object-fit: cover;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close svg {
    width: 1rem;
    height: 1rem;
}

.modal[id|="proyecto"]:target {
    opacity: 1;
    pointer-events: auto;
}

/* *********** Utilities ************ */

.bg-gray-light {
    background-color: var(--gray-light-color);
}

.bold {
    font-weight: 700;
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
    border: 2px solid var(--first-color);
    border-radius: 30px;
    padding: 13px 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
    background-color: var(--body-color);
    transition: all .3s ease-out;
}

.btn:hover {
    background-color: var(--first-color);
    color: white;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.full-lg-screen{
    width: 100%;
    min-height: 100vh;
}

.grabbing {
    cursor: grabbing;
}

.light {
    font-weight: lighter;
}

.none {
    display: none;
}

.regular {
    font-weight: 400;
}

.text-center {
    text-align: center;
}

/* *********** Site Styles  ************ */

.circle {
    fill: var(--second-color);
}

.contact {
    padding: 1rem;
}

.contact-btn .circle,
.contact-btn .icon{
    transition: all .3s ease-out;
}

.contact-btn:hover .circle {
    fill: var(--first-color);
}

.contact-btn:hover .icon {
    fill: white;
}

.contact-card {
    margin: 1rem auto;
    padding: 1rem;
    width: 100%;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-cards a {
    text-decoration: none;
    color: var(--text-color);
    transition: all .5s ease-in-out;
}

.contact-cards a:hover {
    transform: translateY(-1rem);
}

.contact-card small {
    margin-top: -1rem;
}

.contact h4 {
    font-weight: 400;
}

.footer {
    margin-bottom: var(--header-height);
    padding: .5rem;
    color: white;
    background-color: #777;
}

.footer a{
    text-decoration: none;
    color: white;
    transition: all .3s ease-out;
}

.footer a:hover{
    color: #000;

}


.galery {
    position: relative;
    width: 100%;
}

.galery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.galery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galery-item:first-child{
    grid-row-start: span 2;
    grid-column-start: span 3;

}

.galery-item:nth-child(3){
    width: 110%;
}

.galery-item:nth-child(4){
    grid-row-start: span 2;
}

.galery-item:nth-child(4){
    grid-column-start: span 3;
}

.galery-item:nth-child(5){
    grid-row-start: span 2;
}

.galery-item:nth-child(5){
    grid-column-start: span 3;
}


.header {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    background-color: var(--first-color);
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home > .container{
    position: relative;
}

.home-btn {
    padding-top: 1rem;
    text-align: center;
}

.home-contact {
    padding: 1rem 1rem 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;

}
.home-contact a{
    text-decoration: none;
}

.home-contact svg{
    width: 40px;
}

.home-text h1{
    margin-top: 20px;
    font-size: 2rem;
    line-height: 2.5rem;
}

.home-text h3{
    font-size: 1.5rem;
    margin-top: .5rem;
}

.home-foto {
    width: 350px;
    padding: 2rem;
    margin: auto;
}

.home-lucas {
    animation: fadeIn 1s ease-in-out;    
}

@keyframes fadeIn {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}

.item-bottom {
    position: relative;
    bottom: -80px;
    opacity: 0;
    transition: 1s linear;
}

.item-left {
    position: relative;
    left: -80px;
    opacity: 0;
    transition: .5s linear;
}

.item-right {
    position: relative;
    right: -80px;
    opacity: 0;
    transition: 1s linear;
}

.logo a{
    font-size: 2rem;
}

.name {
    font-size: 3rem;
    font-weight: 700;
    color: var(--first-color);
    line-height: 75px;
}

.projects {
    padding: 1rem;
}

.projects-card {
    position: relative;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.projects-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.projects-card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--first-color);
    color: white;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.projects-card:hover .projects-card-info {
    opacity: 1;
    pointer-events: auto;
}

.projects-card-info div {
    padding: 1rem;
    border: thin solid white;
    height: 100%;
}

.projects-modal {
    padding: 1rem;
    max-width: 400px;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
}

.projects-modal h4 {
    border-bottom: medium solid var(--first-color);
    padding: .5rem 0;
    margin: 1rem auto;
}

.projects-details {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 2rem;
}

.projects-details b {
    color: var(--first-color);
}

.section-title {
    color: var(--first-color);
    font-size: 3rem;
    margin: 1rem;
    margin-top: 0;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
}

.skills-habilidades {
    border-top: solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 4rem auto;
    padding: 2rem 0 1rem 0;
    width: 84%;

    position: relative;
    left: -80px;
    opacity: 0;
    transition: 1s ease-in-out;
}

.skills-habilidades p{
    margin: 0;
    padding: .5rem;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.skills-tecnologias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    margin: 2rem auto;
    margin-bottom: 0;
    padding-bottom: 3rem;
    gap: 1rem;
    width: 60%;

    position: relative;
    bottom: -80px;
    opacity: 0;
    transition: 1s ease-in-out;
}

/* ************* Efectos ************** */

.efecto-bottom {
    bottom: 0;
    opacity: 1;
}

.efecto-left {
    left: 0;
    opacity: 1;
}

.efecto-right {
    right: 0;
    opacity: 1;
}

@media screen and (min-width: 768px) {

    .home-contact svg {
        width: 50px;
    }

    .home-flex {
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
    }

    .home-grid .home-btn {
        grid-column: span 2;
    }

    .contact-cards {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
    }

    .projects-modal {
        flex-direction: row;
        max-width: 800px;
    }

    .projects-info {
        margin-left: 1rem;
        align-self: center;
    }

    .projects > .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: auto;
        align-content: center;
    }

    .projects > .container > .section-title {
        grid-column: span 2;
    }

    .skills > .container {
        display: grid;
        grid-template-columns: repeat(2,50%);
        justify-content: space-evenly;
        align-content: center;
    }
    
    .skills .section-title {
        grid-column: span 2;
    }

    .skills-habilidades {
        margin: auto;
    }

    .skills-tecnologias {
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {

    .contact-cards {
        grid-template-columns: repeat(4, 24%);
    }

    .footer {
        margin-bottom: 0;
    }

    .galery-grid {
        grid-template-columns: repeat(8, 1fr);
        width: 94%;
        margin: auto;
    }

    .galery-item:first-child{
        grid-row-start: span 3;
    }
    
    .galery-item:first-child{
        grid-column-start: span 3;
    }
    
    .galery-item:nth-child(2){
        grid-row-start: span 2;
    }
    
    .galery-item:nth-child(2){
        grid-column-start: span 2;
    }
    
    .galery-item:nth-child(3){
        grid-row-start: span 3;
    }
    
    .galery-item:nth-child(3){
        grid-column-start: span 3;
    }

    .galery-item:nth-child(3){
        width: 100%;
    }

    .galery-item:nth-child(4){
        grid-row-start: span 1;
    }
    
    .galery-item:nth-child(4){
        grid-column-start: span 1;
    }

    .galery-item:nth-child(5){
        grid-row-start: span 1;
    }
    
    .galery-item:nth-child(5){
        grid-column-start: span 1;
    }
    
    .header {
        top: 0;
        background-color: var(--body-color);
        padding: 1rem;
        height: var(--header-height);
    }

    .home-contact {
        position: absolute;
        right: 0;
        bottom: 2rem;
    }

    .projects > .container {
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 3rem;
    }

    .projects > .container > .section-title {
        grid-column: span 3;
    }

    section[id="disenios"],
    section[id="contacto"] {
    scroll-margin-top: var(--header-height);
    }

}