@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');

/* *********** Custom Properties********** */
:root {
    --first-color: #2890bd;
    --second-color: #f0f0f0;
    --third-color: #777;
    --font: "Barlow", sans-serif;
    --header-height: 4rem;
}

/* *********** Reset ********** */
html {
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 16px;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
    color: var(--second-color);
    background-color: var(--first-color);
}

h1 {
    margin: 0;
    font-size: 5rem;
}

h2 {
    margin: 0;
    font-size: 2rem;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    line-height: 1.4;
    letter-spacing: 2px;
}

small {
    letter-spacing: 1px;
}

/* *********** Components ************ */

/* *********** Contact Form ************ */

.contact-form {
    position: relative;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 600px;
}

.contact-form > * {
    padding: 0.5rem;
    margin: 1rem auto;
    display: block;
    width: 100%;
}

.contact-form input,
.contact-form textarea {
    background-color: var(--second-color);
    font-family: var(--font);
}

.contact-form input {
    border: 0;
    padding-left: 0;
    border-bottom: thin solid var(--third-color);
}

.contact-form textarea {
    border: thin solid var(--third-color);
    border-radius: 3px;
    resize: none;
}

.contact-form input[type="submit"] {
    background-color: var(--second-color);
    border: 2px solid var(--first-color);
    color: var(--first-color);
    margin-top: 0;
    cursor: pointer;
}
.contact-form input[type="submit"]:hover {
    background-color: var(--first-color);
    color: var(--second-color);
}

.contact-form *::placeholder {
    color: var(--third-color);
}

.contact-form-loader img {
    width: 4rem;
}

.contact-form-response {
    padding: 1rem;
    width: 400px;
    background-color: white;
}

.contact-form-response svg{
    margin-top: 1rem;
    width: 4rem;
    height: 4rem;
}

.modal#gracias:target {
    opacity: 1;
    pointer-events: auto;
}


@media screen and (min-width: 768px) {

    .contact-form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }

    .contact-form textarea,
    .contact-form-loader, 
    .contact-form .btn{
        grid-column: span 2;
    }

}

/* *********** Menu ************ */

.menu-btn {
    background-color: var(--second-color);
    border: 0;
    cursor: pointer;
}

.menu-icon {
    fill: var(--third-color);
}

.menu {
    position: fixed;
    left: 0;
    bottom: var(--header-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s ease;
}

.menu.is-active {
    opacity: 1;
    pointer-events: auto;
}

.menu a {
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    text-decoration: none;
    color: var(--first-color);
}

.menu a:hover{
    transition: .2s;
    color: var(--second-color);
    background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
    .menu-btn {
        display: none;
    }

    .menu {
        position: static;
        width: auto;
        flex-direction: row;
        opacity: 1;
        pointer-events: auto;
        background-color: var(--body-color);
        list-style: none;
    }

    .menu a {
        padding: 0;
        margin: 0 1rem;
        font-size: 1.375rem;
        font-weight: normal;
        text-align: center;
        text-decoration: none;
        color: var(--third-color);
        position: relative;      
    }

    .menu a::after {
        content: "";
        background-color: var(--first-color);
        position: absolute;
        left: 0;
        bottom: -.3rem;
        width: 100%;
        height: .2rem;

        opacity: 0;
        transform: scaleX(0);
        transition: all .3s ease-out;
    }

    .menu a.selected::after,
    .menu a:hover::after {
        transform: scaleX(1);
        opacity: 1;
    }

    .menu a:last-child{
        margin-right: 0;
    }

    .menu a:hover {
        background-color: transparent;
        color: var(--first-color);
    }
}

/* *********** Modal ************ */

.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
}

.modal-content {
    position: relative;
}

.modal-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.modal-close svg {
    width: 1rem;
    height: 1rem;
}

.modal[id|="proyecto"]:target {
    opacity: 1;
    pointer-events: auto;
}

@media screen and (min-width: 768px) {
    .modal-img {
        width: 260px;
    }
}

/* *********** Utilities ************ */

.bg-gray-light {
    background-color: var(--second-color);
}

.bg-blue-light {
    background-color: var(--first-color);
}

.bold {
    font-weight: 700;
}

.box-shadow-1 {
    box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
}

.btn {
    border: 2px solid var(--second-color);
    border-radius: 30px;
    padding: 13px 20px;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: var(--second-color);
    background-color: var(--first-color);
    transition: all .3s ease-out;
}

.btn:hover {
    background-color: var(--second-color);
    color:  var(--first-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.decoration-none {
    color: var(--third-color);
    text-decoration: none;
    transition: all .5s ease-in-out;
}

.decoration-none:hover {
    color: var(--first-color);
}

.full-lg-screen{
    width: 100%;
    min-height: 100vh;
}

.grabbing {
    cursor: grabbing;
}

.light {
    font-weight: lighter;
}

.none {
    display: none;
}

.regular {
    font-weight: 400;
}

.second-color {
    color: var(--second-color);
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.third-color {
    color: var(--third-color);
}

/* *********** Site Styles  ************ */

.circle {
    fill: var(--first-color);
}

.icon {
    fill: var(--second-color);
}

.contact {
    position: relative;
    padding: 1rem;
    padding-bottom: 40px;
}

.contact-btn .circle,
.contact-btn .icon{
    transition: all .4s ease-out;
}

.contact-btn:hover .circle {
    fill: var(--second-color);
}

.contact-btn:hover .icon {
    fill: var(--first-color);
}

.contact-card {
    margin: 30px auto;
    padding: 1rem;
    width: 100%;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-cards a {
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--third-color);
    transition: all .5s ease-in-out;
}

.contact-cards a:hover {
    transform: translateY(-1rem);
}

.contact-card small {
    margin-top: -1rem;
}

.contact h4 {
    font-weight: 400;
}

.footer {
    margin-bottom: var(--header-height);
    padding: 1rem;
    background-color: var(--third-color);
}

.footer a{
    text-decoration: none;
    color: var(--second-color);
    transition: all .3s ease-out;
}

.footer a:hover{
    color: #000;

}


.galery {
    position: relative;
    margin-top: 30px;
    width: 100%;
}

.galery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.galery-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galery-item:first-child{
    grid-row-start: span 2;
    grid-column-start: span 3;

}

.galery-item:nth-child(3){
    width: 110%;
}

.galery-item:nth-child(4){
    grid-row-start: span 2;
    grid-column-start: span 3;
}

.galery-item:nth-child(5){
    grid-row-start: span 2;
    grid-column-start: span 3;
}

.grid-footer {
    margin-bottom: 50px;
}

.grid-footer h4 {
    padding-top: 60px;
    letter-spacing: 2px;
}

.grid-footer p {
    margin: 0;
    padding: 5px;
}

.header {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1rem;
    z-index: 100;
    width: 100%;
    height: var(--header-height);
    background-color: var(--second-color);
}

.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home > .container {
    position: relative;
    padding: 20px;
}

.home-btn {
    margin-top: 60px;
    text-align: center;
}

.home-contact {
    padding: .5rem .5rem 0 0;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}
.home-contact a{
    text-decoration: none;
}

.home-contact svg{
    width: 40px;
}

.home-text {
    width: 100%;
}

.home-titles h1{
    margin: 10px 0;
    letter-spacing: 10px;
    line-height: 85px;
    font-size: 5rem;
}

.home-text h3,
.home-titles h3 {
    letter-spacing: 5px;
}

.home-titles h5 {
    letter-spacing: 2px;
}

.home-titles {
    animation: fadeIn 1s ease-in-out;    
}

@keyframes fadeIn {
    from {
        transform: scale(.5);
    }
    to {
        transform: scale(1);
    }
}

.item-bottom,
.item-bottom-two,
.item-bottom-three,
.item-bottom-four,
.item-bottom-five {
    position: relative;
    bottom: -40px;
    opacity: 0;
    transition: .5s linear;
}

.item-left {
    position: relative;
    left: -80px;
    opacity: 0;
    transition: .5s linear;
}

.logo a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--third-color);
}

.name {
    font-size: 4rem;
    font-weight: 700;
    color: var(--first-color);
    line-height: 75px;
}

.projects {
    padding: 1rem;
}

.projects-card {
    position: relative;
    width: 100%;
    margin: 30px auto;
    display: block;
    transition: all .5s ease-in-out;
}

.projects-card:hover {
    transform: translateY(-1rem);
}

.projects-card:last-child {
    padding-bottom: 20px;
}

.projects-card img {
    width: 100%;
    height: 270px;
    border-radius: 1.5rem;
    object-fit: cover;
}

.projects-card-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    margin: 0 auto;
    padding: .2rem;
    background-color: var(--first-color);
    color: var(--second-color);
    border-radius: 0 0 1.5rem 1.5rem;
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

.projects-card-info h4,
.projects-card-info p {
    letter-spacing: 2px;
    margin: 0;
    padding: .5rem;
    line-height: 18px;
}

.projects-card:hover .projects-card-info {

    opacity: 1;
    pointer-events: auto;
}


.projects-modal {
    padding: 1rem;
    max-width: 400px;
    background-color: var(--second-color);
    display: flex;
    flex-direction: column;
}

.projects-modal h4 {
    border-bottom: medium solid var(--first-color);
    padding: .5rem 0;
    margin: 1rem auto;
}

.projects-details {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-auto-rows: 2rem;
}

.projects-details b {
    color: var(--first-color);
}

.projects-details small {
    color: var(--third-color);
}

.projects-info p,
.projects-info h4 {
    letter-spacing: 1px;
    color: var(--third-color);
}

.section-title {
    color: var(--first-color);
    letter-spacing: 5px;
    margin-top: 0;
    padding-top: 4rem;
    text-align: center;
}

.skills-habilidades {
    border-top: solid var(--first-color);
    border-bottom: thin solid var(--first-color);
    margin: 2rem auto;
    padding: 2rem 0 1rem 0;
    width: 90%;
    position: relative;
    left: -80px;
    opacity: 0;
    transition: 1s ease-in-out;
}

.skills-habilidades p {
    margin: 0;
    color: var(--third-color);
    padding: .5rem;
    font-size: 18px;
    text-align: center;
}

.skills-tecnologias {
    margin: 2rem auto 0;
    padding-bottom: .2rem;
    width: 100%;
    position: relative;
    bottom: -80px;
    opacity: 0;
    transition: 1s ease-in-out;
}

.skills-tecnologias p,
.skills-tecnologias h4 {
    text-align: center;
    margin: 3px;
    color: var(--third-color);
}

.square {
    height: 80px;
    width: 80px;
    position: absolute;
    margin: auto;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    bottom: -40px;
}

/* ************* Efectos ************** */

.efect-bottom {
    bottom: 0;
    opacity: 1;
}

.efect-left {
    left: 0;
    opacity: 1;
}

@media screen and (min-width: 768px) {

    .author {
        margin: 30px auto 1rem;
    }

    .contact-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-evenly;
        gap: 1.5rem;
    }

    .grid-footer {
        max-width: 1200px;
        margin: auto;
        text-align: start;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        line-height: 10px;  
        gap: 0 1rem;
    }

    .grid-footer h4 {
        grid-column: span 2;
        padding-top: 0;
    }

    .home-contact svg {
        width: 50px;
    }

    .home-flex {
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .home-text {
        width: 380px;
    }
    
    .home-titles h1{
        margin: 0 auto 30px;
        line-height: 95px;
        font-size: 6rem;
    }

    .projects-card {
        margin: 0;
    }

    .projects-info {
        margin-left: 1rem;
        align-self: center;
    }

    .projects > .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        align-content: center;
        column-gap: 1rem;
    }

    .projects > .container a {
        margin-bottom: 20px;
    }

    .projects > .container > .section-title {
        padding-bottom: 20px;
        grid-column: span 2;
    }

    .projects-modal {
        flex-direction: row;
        max-width: 800px;
    }

    .section-title {
        font-size: 3rem;
    }
    .skills > .container {
        display: grid;
        grid-template-columns: repeat(2,50%);
        justify-content: space-evenly;
        align-content: center;
    }
    
    .skills .section-title {
        grid-column: span 2;
        margin-bottom: 30px;
    }

    .skills-habilidades {
        margin: auto;
    }

    .skills-tecnologias {
        padding-bottom: 1rem;
    }
}

@media screen and (min-width: 1024px) {

    .contact-cards {
        grid-template-columns: repeat(3, 30%);
        justify-content: space-evenly;
    }

    .footer {
        margin-bottom: 0;
    }

    .galery-grid {
        grid-template-columns: repeat(8, 1fr);
        width: 94%;
        margin: auto;
    }

    .galery-item:first-child{
        grid-row-start: span 3;
        grid-column-start: span 3;
    }
    
    .galery-item:nth-child(2){
        grid-row-start: span 2;
        grid-column-start: span 2;
    }
    
    .galery-item:nth-child(3){
        grid-row-start: span 3;
        grid-column-start: span 3;
        width: 100%;
    }

    .galery-item:nth-child(4){
        grid-row-start: span 1;
        grid-column-start: span 1;
    }

    
    .galery-item:nth-child(5){
        grid-row-start: span 1;
        grid-column-start: span 1;
    }

    .grid-footer {
        grid-template-columns: repeat(4, 1fr);
    }

    .grid-footer h4 {
        grid-column: span 4;
    }

    .header {
        top: 0;
        background-color: var(--second-color);
        padding: 1rem;
        height: var(--header-height);
    }

    .home-contact {
        position: absolute;
        left: 0;
        bottom: 3rem;
    }

    .projects > .container {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .projects > .container > .section-title {
        grid-column: span 3;
    }

    section[id="disenios"],
    section[id="contacto"] {
    scroll-margin-top: var(--header-height);
    }

}